img {
  width: 100%;
  height: auto;
}

.banner .banner-figure > img{
  height: 500px;
  padding-right: 75px;
  border: 1px solid whitesmoke;
  /* border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem; */
}

h1 {
  text-align: center;
  font-size: 22px;
}

.banner > p {
  text-align: left;
  margin-left: 40px;
  line-height: 1.5rem;
}

/* @media (min-width: 1270px) {
  h1 {
    margin-right: 40%;
  }
} */

.container {
  margin-left: 40px;
}

body {
  /* width: 75%; */
  font-family: 'Helvetica Neue',Helvetica,arial,sans-serif;
  color: #232323;
}

.container, .banner {
  width: 75%;
}

.frozen-wrappers > p{
  line-height: 1.5rem;
}


.preparing-dough, .putting-everything-together{
  /* border: solid 1px rgb(218, 208, 208); */
  border: 1px solid whitesmoke;
  border-radius: 0.5rem;
  box-shadow: 3px 3px rgb(232, 230, 230);
  padding-left: 10px;
  margin-bottom: 20px;
}

.prepping-mix {
  border: 1px solid whitesmoke;
  border-radius: 0.5rem;
  box-shadow: 3px 3px #e9a447;
  padding-left: 10px;
  margin-bottom: 20px;
}

.making-sauce {
  border: 1px solid whitesmoke;
  border-radius: 0.5rem;
  box-shadow: 3px 3px tomato;
  padding-left: 10px;
  margin-bottom: 20px;
}

/* .ingredient-box, .direction-box{
  border: solid 1px rgb(218, 208, 208);
  border-radius: 0.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
} */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 20px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #bcb6b6;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

span {
  font-size: 60px;
  cursor: pointer;
  padding-left: 30px;
  position: sticky;
}

li{
  line-height: 1.5rem;
}
ol > li::marker {
  font-weight: bold;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

footer {
  position: relative;
  margin-top: 30px;
  bottom: 0;
  width: 95%;
  padding: 40px 0;
  color:#050404;
  background-color: inherit;
  border-top: 1px solid rgb(161, 155, 155);
  text-align: center;
}

footer > span{
  font-size: 14px;
}